.container {
    margin-top: 7rem;

}

.station {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-between; */
    padding: 2rem;
    border-bottom: 1.5px double black;
}

.station img {
    width: 450px;
    height: 400px;
    object-fit: cover;
    object-position: top;
    border-radius: 1rem;

}

.top h6 {
    color: red;
    font-size: 1rem;
}

.top {
    gap: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.stations {}



@media screen and (max-width:600px) {
    .station {
        display: grid;
        grid-template-columns: 1fr;
    }

    .station img {
        width: 90%;
        height: 90%;
        object-fit: cover;
        object-position: top;


    }
}


.slider {
    width: 700px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;

}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 700px;
    height: 500px;
}

.navigation-manuel {
    position: absolute;
    width: 700px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manuel-btn {
    border: 2px solid yellow;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transform: 1s;
}

.manuel-btn:not(:last-child) {
    margin-right: 40px;
}

.manuel-btn:hover {
    background-color: pink;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}


/* .navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 30px;
} */